/Tail/obj
/Tail/bin
/Tail.RashTest/FileWriteWorker/obj
/Tail.RashTest/FileWriteWorker/bin
/Tail.RashTest/TailExecutor/obj
/Tail.RashTest/TailExecutor/bin
/Tail.Tests/obj
/Tail.Tests/bin
TestResults
*.suo
obj
bin
/*.user
